<script src="client.js"></script>
<h3>
    Welcome back, <%- utilizator %>!
</h3>
<p id="waiting"></p>
<button id="lookForPartenersButton" onclick="lookForParteners()"> Look for people to chat! </button>

