<script src="client.js"></script>
<div id="chat-content"></div>
<input id="message-content" , type="text">
<button type="submit" , id="send-button", onclick="postMessage()">Send</button>
<button>Back</button>