<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Chat Room</title>
    </head>
    <body id="body">
        <%- body %>
    </body>

    <footer>
        &copy;Chelariu Stefan grupa 1309A Proiect PW
    </footer>
    
</html>